//тут буде палітра кольорів, вони в макеті в ЮА КІТ

//Colors

//Main
/////////////////////
//main
$main_color: #323264;
//Alt
$main_alt: #46466E;
//soft
$main_soft: #686887;

//Accent
/////////////////////
$accent_color: #F0145A;

//Active
/////////////////////
//Regular
$active_regular: #24A3FF;
//:hover
$active_hover: #0085FF;
//:active
$active_active: #006CCF;


//Grey
/////////////////////
//Bg
$grey_bg: #F5F5FA;
//Bg Alt
$grey_bg-alt: #EDEDF7;
//Text
$grey_text: #B3B3BA;
//Separator
$grey_separator: #E6E6F0;

//Gradient
/////////////////////
//first
$gradient_first: linear-gradient(128.63deg, #323264 0%, #323264 73.96%, #A54B5F 100%);
//Soft
$gradient_soft: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
//Red
$gradient_red: linear-gradient(323.35deg, #F0145A 6.7%, #693264 70.36%);
//Supersoft
$gradient_supersoft: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
//Red Text
$gradient_red-text: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  color: inherit;
  font: inherit;
}

h1, h2, h3, h4, h5, h6, b, strong {
  font-weight: 700;
}